a,
h1,
h4,
h5,
p {
  font-family: "Poppins", sans-serif;
}
.btn-style {
  background-color: #e76f51;
  padding: 10px 45px;
  border-radius: 5px;
  border: 0;
}
.bg-header {
  background-color: #264653;
  padding: 100px 0;
}
.star-color {
  color: #e77c40;
}
.name-color {
  color: #23a6f0;
}
.text-color {
  color: #e76f51;
}
.f-size {
  font-size: 50px;
  font-weight: 600;
}
.filter {
  filter: grayscale();
}
