a,
h1,
h4,
h5,
p,
strong {
  font-family: "Poppins", sans-serif;
}
.btn-style {
  background-color: #e76f51;
  padding: 10px 45px;
  border-radius: 5px;
  border: 0;
}
.bg-header {
  background-color: #264653;
  padding: 100px 0;
}
@media (max-width: 767px) {
  .bg-header {
    background-color: #264653;
    padding: 60px 0 20px 0;
  }
  .byke {
    width: 320px;
    height: 260px;
  }
  iframe {
    height: 180px;
  }
}

.star-color {
  color: #e77c40;
}
.name-color {
  color: #23a6f0;
}
.text-color {
  color: #e76f51;
}
.f-size {
  font-size: 50px;
  font-weight: 600;
}
.filter {
  filter: grayscale();
}
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  box-shadow: none !important;
}
p,
h5,
strong {
  color: #7e848c;
}
